<html>
    <head>
       <title>Form Test Index</title>
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
        <div class='container'>
            <h1>Create a User</h1>
            <form action='/users' method='post'>
                <div class="form-group">
                    Name <input class="form-control" type='text' name='name' value='' placeholder ='Name' />
                </div>
                <div class="form-group">
                    Email: <input class="form-control" type='text' name='email' value='' placeholder ='Name' />
                </div>
                <input class='btn btn-primary' type='submit' value='Submit'>
            </form>
        </div>
    </body>
</html>
